---
ci:
  # We rely on renovate to update it but there is no way to fully disable it
  # https://github.com/pre-commit-ci/issues/issues/83
  autoupdate_schedule: quarterly
  skip:
    - shellcheck # no docker support on pre-commit.ci
    # uv not present on pre-commit.ci
    - mypy
    - pylint
    - ruff
    - toml
default_language_version:
  # minimal version we support officially as this will impact mypy, pylint
  # minimal version determined by minimal version required by ansible-core, but
  # we might keep a backwards compatibility version for older ones
  python: "3.11"
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes

  - repo: https://github.com/ansible/actions
    rev: v0.3.1
    hooks:
      - id: toml
      - id: ruff
      - id: mypy
      - id: pylint

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.17
    hooks:
      - id: uv-sync
      - id: uv-lock
        name: "deps: upgrade via uv sync --upgrade"
        alias: deps
        args: ["--upgrade"]
        stages: [manual]
  # - repo: https://github.com/rhysd/actionlint
  #   rev: v1.7.3
  #   hooks:
  #     - id: actionlint
  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.3.8"
    hooks:
      - id: biome-check
        name: biome
        alias: biome
        args: [--unsafe]
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude: >
          (?x)^(
            .config/pydoclint-baseline.txt
          )$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.3.3
    hooks:
      - id: cspell
        name: Spell check with cspell

  - repo: https://github.com/jsh9/pydoclint
    rev: "0.8.3"
    hooks:
      - id: pydoclint
        # This allows automatic reduction of the baseline file when needed.
        entry: sh -ec "pydoclint -q . && pydoclint --generate-baseline=1 ."
        pass_filenames: false
  - repo: https://github.com/ansible/team-devtools
    rev: v25.12.8
    hooks:
      - id: check-platform-constraints
