---
ci:
  # format compatible with commitlint
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: monthly
  autofix_commit_msg: "chore: auto fixes from pre-commit.com hooks"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/asottile/add-trailing-comma.git
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        args:
          - --py36-plus

  - repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude: >
          (?x)^(
            .config/pydoclint-baseline.txt
          )$

  - repo: https://github.com/pycontribs/mirrors-prettier
    rev: v3.3.3
    hooks:
      - id: prettier
        always_run: true
        additional_dependencies:
          - prettier
          - prettier-plugin-toml
          - prettier-plugin-sort-json

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort-fix

  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: 1.3.1
    hooks:
      - id: tox-ini-fmt

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.3
    hooks:
      - id: ruff
        args:
          - --exit-non-zero-on-fix

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.13.3
    hooks:
      - id: cspell
        name: Spell check with cspell

  - repo: https://github.com/jsh9/pydoclint
    rev: "0.5.6"
    hooks:
      - id: pydoclint
        # This allows automatic reduction of the baseline file when needed.
        entry: sh -ec "pydoclint . && pydoclint --generate-baseline=1 ."
        pass_filenames: false

  - repo: https://github.com/pycqa/pylint.git
    rev: v3.2.7
    hooks:
      - id: pylint
        args:
          - --output-format=colorized
        additional_dependencies:
          - ansible-creator
          - ansible-navigator
          - django
          - gunicorn
          - libtmux
          - openapi_core
          - pytest
          - pyyaml

  - repo: https://github.com/pre-commit/mirrors-mypy.git
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies:
          - ansible-creator
          - ansible-navigator
          - django-stubs[compatible-mypy]
          - jinja2
          - libtmux
          - openapi-core>=0.19.1
          - pytest
          - types-pyyaml
          - types-requests
          - types-setuptools
        # Override default pre-commit '--ignore-missing-imports'
        args: [--strict]

  - repo: https://github.com/jazzband/pip-tools
    rev: 7.4.1
    hooks:
      - id: pip-compile
        name: deps
        alias: deps
        stages: [manual]
        # The manual unsafe packages below are b/c of the test extras dep on the server extras
        # which should not pull in the src pkg
        entry: |
          pip-compile .config/requirements.in -q --upgrade --all-extras --no-annotate --strip-extras
          --unsafe-package ansible-dev-tools
          --unsafe-package distribute
          --unsafe-package pip
          --unsafe-package setuptools
          --output-file=.config/constraints.txt pyproject.toml
        files: ^.config\/.*requirements.*$
        language_version: "3.10" # minimal we support officially
      - id: pip-compile
        name: lock
        alias: lock
        stages: [manual]
        entry: |
          pip-compile .config/requirements.in -q --upgrade --extra server --no-annotate --strip-extras
          --constraint=.config/constraints.txt
          --unsafe-package distribute
          --unsafe-package pip
          --unsafe-package setuptools
          --output-file=.config/requirements-lock.txt pyproject.toml
        files: ^.config\/.*requirements.*$
        language_version: "3.10" # minimal we support officially
