---
ci:
  # format compatible with commitlint
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: monthly
  autofix_commit_msg: "chore: auto fixes from pre-commit.com hooks"
  skip:
    - shellcheck # no docker support on pre-commit.ci
    - deps
    - constraints
    - lock
default_language_version:
  # minimal version we support officially as this will impact mypy, pylint and
  # pip-tools in undesirable ways.
  # minimal version determined by minimal version required by ansible-core, but
  # we might keep a backwards compatibility version for older ones, but the
  # lock extra will not be usable those.
  python: "3.11"
repos:
  # - repo: https://github.com/rhysd/actionlint
  #   rev: v1.7.3
  #   hooks:
  #     - id: actionlint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/asottile/add-trailing-comma.git
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        args:
          - --py36-plus

  - repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude: >
          (?x)^(
            .config/pydoclint-baseline.txt
          )$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/pycontribs/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        always_run: true
        additional_dependencies:
          - prettier
          - prettier-plugin-toml
          - prettier-plugin-sort-json

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.2
    hooks:
      - id: toml-sort-fix

  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: 1.4.1
    hooks:
      - id: tox-ini-fmt

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
        types_or: [python, pyi]
      - id: ruff-format # must be after ruff
        types_or: [python, pyi]

  - repo: https://github.com/psf/black # must be after ruff
    rev: 24.10.0
    hooks:
      - id: black

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.16.1
    hooks:
      - id: cspell
        name: Spell check with cspell

  - repo: https://github.com/jsh9/pydoclint
    rev: "0.5.12"
    hooks:
      - id: pydoclint
        # This allows automatic reduction of the baseline file when needed.
        entry: sh -ec "pydoclint . && pydoclint --generate-baseline=1 ."
        pass_filenames: false

  - repo: https://github.com/pycqa/pylint.git
    rev: v3.3.2
    hooks:
      - id: pylint
        args:
          - --output-format=colorized
        additional_dependencies:
          - ansible-creator
          - ansible-navigator
          - django
          - gunicorn
          - libtmux
          - openapi_core
          - pytest
          - pyyaml

  - repo: https://github.com/pre-commit/mirrors-mypy.git
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies:
          - ansible-creator
          - ansible-navigator
          - django-stubs
          - jinja2
          - libtmux
          - openapi-core>=0.19.1
          - pytest
          - types-pyyaml
          - types-requests
          - types-setuptools
        # Override default pre-commit '--ignore-missing-imports'
        args: [--strict]

  - # keep at bottom as these are slower
    repo: local
    hooks:
      - id: deps
        alias: deps
        name: Upgrade constraints files and requirements
        # files: ^(pyproject\.toml|requirements\.txt)$
        language: python
        language_version: "3.11" # minimal required by latest ansible-core
        entry: python3 -m uv pip compile -q --all-extras --output-file=.config/constraints.txt pyproject.toml --upgrade
        pass_filenames: false
        stages:
          - manual
        additional_dependencies:
          - uv>=0.4.3
      - id: constraints
        name: Check constraints files and requirements
        # files: ^(pyproject\.toml|requirements\.txt)$
        language: python
        language_version: "3.11" # minimal required by latest ansible-core
        entry: python3 -m uv pip compile -q --all-extras --output-file=.config/constraints.txt pyproject.toml
        pass_filenames: false
        additional_dependencies:
          - uv>=0.4.3
      - id: lock
        name: Update requirements-lock.txt
        alias: lock
        always_run: true
        entry: python3 -m uv pip compile -q --upgrade --constraint=.config/constraints.txt --output-file=.config/requirements-lock.txt pyproject.toml --strip-extras
        files: ^.config\/.*requirements.*$
        language: python
        language_version: "3.11" # minimal required by latest ansible-core
        pass_filenames: false
        stages: [manual]
        additional_dependencies:
          - uv>=0.4.3
