ansible-dev-tools[server]
black
coverage[toml]
flake8
mypy
pip-tools
pre-commit
pydoclint[flake8]
pylint
pytest
pytest-xdist
requests
ruff
toml-sort
tox
types-pyyaml
types-requests
django-stubs[compatible-mypy]
