ansible-dev-tools[server]
black
coverage[toml]
libtmux
mypy
pip-tools
pre-commit
pydoclint
pylint
pytest
pytest-xdist
requests
ruff
toml-sort
tox
types-pyyaml
types-requests
django-stubs[compatible-mypy]
