ansible-builder>=3.0.0
ansible-creator>=0.1.0
ansible-development-environment>=0.3.0
ansible-lint>=6.22
ansible-navigator>=3.5.0
ansible-sign>=0.1.1
molecule>=6.0.3
pytest-ansible>=4.1.1
setuptools
tox-ansible>=2.0.14
