---
name: tox

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  release:
    types: [published]
  schedule:
    - cron: "0 0 * * *"
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${ github.event_name }-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  tox:
    uses: ansible/team-devtools/.github/workflows/tox.yml@main
    with:
      run_pre: ./tools/test-setup.sh
      max_python: "3.13"
      jobs_producing_coverage: 7
      other_names_also: |
        devspaces
        ee-amd64:tox -e ee:runner=devtools-multiarch-builder
        ee-arm64:tox -e ee:runner=ubuntu-24.04-arm64-2core
    secrets: inherit # needed for logging to the ghcr.io registry

  publish-ee:
    permissions:
      packages: write
    # environment: release # approval
    runs-on: ubuntu-24.04
    needs:
      - tox
    # if: github.ref == 'refs/heads/main'
    # github.event_name == 'release' && github.event.action == 'published'
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: pull-merge-push for the the two arch images under a single manifest
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: ./tools/ee.sh --publish "${{ github.event.release.tag_name || github.sha }}" "${{ (github.event_name == 'release' && github.event.action == 'published') || '--dry' }}"

  publish-devspaces:
    permissions:
      packages: write
    runs-on: ubuntu-24.04
    needs:
      - tox
    if: github.ref == 'refs/heads/main' || (github.event_name == 'release' && github.event.action == 'published')
    steps:
      - name: Push image to ghcr.io as ansible-devspaces-tmp:${GITHUB_SHA}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "$GITHUB_ACTOR" --password-stdin
          docker pull "ghcr.io/ansible/ansible-devspaces-tmp:${GITHUB_SHA}"
          docker tag "ghcr.io/ansible/ansible-devspaces-tmp:${GITHUB_SHA}" "ghcr.io/ansible/ansible-devspaces:${GITHUB_SHA}"

      - name: Push image to ghcr.io as ${{ github.event.release.tag_name }}
        if: github.event_name == 'release' && github.event.action == 'published'
        run: |
          docker tag "ghcr.io/ansible/ansible-devspaces:${GITHUB_SHA}" "ghcr.io/ansible/ansible-devspaces:${{ github.event.release.tag_name }}"
          docker tag "ghcr.io/ansible/ansible-devspaces:${GITHUB_SHA}" "ghcr.io/ansible/ansible-devspaces:latest"
          docker push "ghcr.io/ansible/ansible-devspaces:${{ github.event.release.tag_name }}"
          docker push "ghcr.io/ansible/ansible-devspaces:latest"

  publish-wheel:
    needs:
      - tox
    if: github.event_name == 'release' && github.event.action == 'published'
    environment: release # approval
    runs-on: ubuntu-24.04
    permissions:
      id-token: write

    env:
      FORCE_COLOR: 1
      PY_COLORS: 1
      TOXENV: pkg
      TOX_EXTRA_BINDEP: 0
    steps:
      - name: Switch to using Python 3.10 by default
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install tox
        run: python3 -m pip install --user "tox>=4.0.0"

      - name: Check out src from Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # needed by setuptools-scm
          submodules: true

      - name: Build dists
        run: python3 -m tox

      - name: Publish to pypi.org
        if: >- # "create" workflows run separately from "push" & "pull_request"
          github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1

  forum-post:
    if: github.event_name == 'release' && github.event.action == 'published'
    needs:
      - publish-wheel
      - publish-ee
      - publish-devspaces
    runs-on: ubuntu-24.04

    steps:
      - name: Retreive the forum post script from team-devtools
        run: curl -O https://raw.githubusercontent.com/ansible/team-devtools/main/.github/workflows/forum_post.py

      - name: Run the forum post script
        run: python3 forum_post.py ${{ github.event.repository.full_name }} ${{ github.event.release.tag_name }} ${{ secrets.FORUM_KEY }} ${{ secrets.FORUM_USER }}

  push:
    if: >
      github.event_name == 'push' && contains(
      fromJSON('["refs/heads/main", "refs/heads/releases", "refs/heads/stable"]'),
      github.ref)
    uses: ansible/team-devtools/.github/workflows/push.yml@main
